/* ------------------ SUMMARY ------------------------ */

/*

- Line 23 :     Page entière
- Line 61 :     Header
- Line 120 :    Section "Accueil"
- Line 260 :    Section "Services"
- Line 349 :    Section "Portfolio"
- Line 526 :    Section "Contact"
- Line 591 :    Media Queries

*/


/*-----------------------------------------------------------------------*/

                            /* PAGE ENTIERE */

/*-----------------------------------------------------------------------*/


body {
    width: 100%;
    margin: 0;
}

#page {
    width: 95%;
    height: auto;
    margin: auto;
}

/* définition des ronds bleus pour les titres des sections */
.rond {
    width: 15px;
    height: 15px;
    background-color: #25adb6;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

/* Permet de décaler la section "Accueil" pour ne pas être masquée par le menu fixe */
#ancreAccueil {
    height: 96px;
}


/*-----------------------------------------------------------------------*/

                            /* HEADER */

/*-----------------------------------------------------------------------*/


/* ------------ Général ------------ */

header {
    width: 100%;
    height: auto;
    background-color: white;
    position: fixed; /* on fixe le header en haut de la page */
    top: 0;
    left: 0;
    z-index: 1000;
}

/* ------------ Gestion du logo ------------ */

#logo {
    text-align: center;
    margin-top: 10px;
}

#logo img {
    width: 40%;
    height: auto;
}

/* ------------ Gestion du menu ------------ */

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
}

nav li {
    width: 100%;
    text-align: center;
}

nav li:hover {
    border-bottom: 3px solid #25adb6;
}

nav a {
    text-decoration: none;
    color: #25adb6;
}


/*-----------------------------------------------------------------------*/

                        /* SECTION ACCUEIL */

/*-----------------------------------------------------------------------*/


/* ------------ Général ------------ */

#accueil {
    width: 100%;
}

/* ------------ Gestion du slider ------------ */

.slideshowGallery {
    position: relative;
    overflow: hidden;
    height:   0;
    width: 100%;
}

.slider {
    visibility: hidden;
}

.prevNext {
    visibility: hidden;
}

/* ------------ Gestion du texte sur le slider ------------ */

/* On positionne le texte sur l'imaga d'accueil*/
#texteAccueil {
    width: 100%;
    height: auto;
    text-align: center;
}

#texteAccueil h1, h2, h3 {
    margin: 0;
}

#texteAccueil h1 {
    color: #25adb6;
    margin-bottom: 15px;
}

#texteAccueil h2, h3 {
    color: black;
}

#texteAccueil button {
    width: 120px;
    height: 50px;
    font-size: 1.2em;
    margin-top: 10px;
    background-color: #25adb6;
    color: white;
}


/*-----------------------------------------------------------------------*/

                        /* SECTION SERVICES */

/*-----------------------------------------------------------------------*/


/* ------------ Général ------------ */

#services {
    width: 100%;
    margin-top: 100px;
}

/* ------------ Gestion du titre ------------ */

#titreServices {
    text-align: center;
}

#titreServices p {
    text-align: justify;
}

/* ------------ Gestion de l'image ------------ */

#imageServices {
    width: 100%;
}

#imageServices img {
    width: 100%;
}

/* ------------ Gestion des icônes ------------ */

#detailServices img {
    height: 100%;
    transform: scale(0.30);
    -webkit-transform: scale(0.30);
    -moz-transform: scale(0.30);
    -o-transform: scale(0.30);
    -ms-transform: scale(0.30);
}

/* ------------ Gestion du contenu ------------ */

#detailServices {
    text-align: center;
}

#detailServices p {
    text-align: justify;
}

/*-----------------------------------------------------------------------*/

                        /* SECTION PORTFOLIO */

/*-----------------------------------------------------------------------*/


/* ------------ Général ------------ */

#portfolio {
    width: 100%;
    margin-top: 100px;
    background-color: #f5f5f5;
}

#enTetePorofolio, #tabPortfolio {
    text-align: center;
}

#enTetePorofolio p {
    text-align: justify;
}

#enTetePorofolio h1 {
    padding-top: 5px;
}

/* ------------ Gestion du bandeau de tabulation ------------ */

#tabPortfolio {
    width: 100%;
    visibility: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
}

#tabPortfolio ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

#tabPortfolio li {
    display: inline-block;
    height: 40px;
    width: 70px;
    position: relative;
}

#tabPortfolio a {
    display: block;
    text-decoration: none;
    height: 40px;
    padding-top: 25%;
}

#tabPortfolio a:hover {
    background-color: #25adb6;
    color: white;
}

/*On dessine les flêches des tabulations et on les masque par défaut*/
.fleche {
    position: relative;
    top: 14px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #25adb6;
    visibility: hidden;
}

/* On affiche la flèche correspondant à la tabulation */
#tabPortfolio a:hover + #flecheAll {
    visibility: visible;
}

/* idem */
#tabPortfolio a:hover + #flecheCreative {
    visibility: visible;
}

/* idem */
#tabPortfolio a:hover + #flecheCorporate {
    visibility: visible;
}

/* ------------ Gestion des images du portfolio ------------ */

#imagesPortfolio {
    width: 100%;
    position: relative;
}

/* Par défaut les images sont placées en colonne */
.imagePortfolio {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.imagePortfolio img {
    width: 100%;
    height: auto;
}

/* Positionnement des légendes au bord inférieur des images */
.legendePortfolio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: rgba(85, 64, 0, 0.7);
    visibility: visible;
}

/* Alignement et couleur du texte des légendes */
.legendePortfolio > * {
    text-align: left;
    color: white;
    margin-left: 5px;
}


/*-----------------------------------------------------------------------*/

                        /* SECTION CONTACT */

/*-----------------------------------------------------------------------*/


/* ------------ Général ------------ */

#contact {
    width: 100%;
    height: auto;
}

/* ------------ Gestion de la carte ------------ */

#carte iframe{
    width: 100%;
    height: 0;
    visibility: hidden;
}

/* ------------ Gestion du formulaire ------------ */

#formulaireContact {
    width: 100%;
    height: auto;
    background-color: rgb(245, 245 ,245);
}

#detailFormulaire {
    width: 90%;
    margin: auto;
}

#adresse p {
    margin: 0;
}

#contact form {
    margin-top: 10px;
}

#contact form > input{
    margin-top: 10px;
    margin-bottom: 5px;
}

.text {
    width: 100%;
}

.bouton {
    width: 25%;
}

#message {
    height: 63px;
}

#btnValider {
    width: 100px;
    height: 50px;
    font-size: 1.2em;
    background-color: #25adb6;
    color: white;
}


/*-----------------------------------------------------------------------*/

                    /* MEDIA QUERIES : GESTION RESPONSIVE */

/*-----------------------------------------------------------------------*/


/* ------------ Gestion affichage Tablette ------------ */

@media screen and (min-width: 768px){

    /* ------------ Gestion du slider ------------ */

    .slider {
        visibility: visible;
    }

    .prevNext {
        visibility: visible;
    }

    .slideshowGallery {
        position: relative;
        overflow: hidden;
        height:   auto;
        width: 100%;
    }

    .slideshowGallery .slider{
        height:      100%;
        white-space: nowrap;
        font-size:   0;
        transition:  0.8s;
    }

    /* On superpose les images */
    .slideshowGallery .slider > *{
        font-size:       1rem;
        display:         inline-block;
        vertical-align:  top;
        height:          100%;
        width:           100%;
        background:      none 50% no-repeat;
        background-size: cover;
    }

    /* On positionne la div contenant les flèches directionnelles */
    .slideshowGallery .prevNext{
        position: absolute;
        z-index:  1;
        top:      50%;
        width:    110%;
        height:   0;
    }

    /* on cache les flêches par défaut*/
    .slideshowGallery .prevNext > div {
        visibility: hidden;
    }

    /* On dessine les cercles englobant les flèches */
    .slideshowGallery .prevNext label {
        background:  #fff;
        position:    absolute;
        width:       40px;
        height:      40px;
        border-radius: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 2em;
        opacity:     0.3;
        text-decoration:   none;
        transform: translateY(-50%) translateX(-15px);
        -webkit-transform: translateY(-50%) translateX(-15px);
        -moz-transform: translateY(-50%) translateX(-15px);
        -o-transform: translateY(-50%) translateX(-15px);
        -ms-transform: translateY(-50%) translateX(-15px);
    }

    .slideshowGallery .prevNext label:hover {
        opacity: 1;
    }

    /* Positionnement des flêches de chaque côté */
    .slideshowGallery .prevNext label + label {
        right: 0;
    }

    .slideshowGallery > .ancreSlider:target ~ .prevNext > * {
        visibility:  hidden;
    }

    #btn {
        display: none;
    }

    input[type=checkbox]:checked ~ .slider {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
    }



    /* Réajustement de la position du slider + flêches + texte d'accueil */

    #ancreAccueil {
        height: 135px;
    }

    /* On réajuste taille + position du texte d'accueil */
    #texteAccueil {
        text-align: left;
        transform: scale(0.70) translateY(-200%) translateX(-5%);
        -webkit-transform: scale(0.70) translateY(-200%) translateX(-5%);
        -moz-transform: scale(0.70) translateY(-200%) translateX(-5%);
        -o-transform: scale(0.70) translateY(-200%) translateX(-5%);
        -ms-transform: scale(0.70) translateY(-200%) translateX(-5%);
    }

    #texteAccueil h2, h3 {
        color: white;
    }

    /* On repositionne les flèches directionnelles */
    .slideshowGallery .prevNext{
        position: absolute;
        width:    104%;
    }

    #services {
        margin-top: 0;
    }

    #titreServices p {
        text-align: center;
    }

    #detailServices p {
        text-align: center;
    }

    #enTetePorofolio p {
        text-align: center;
    }

    #tabPortfolio {
        visibility: visible;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #imagesPortfolio {
        text-align: center;
    }

    /* On adapte les images du portfolio => 2 par ligne */
    .imagePortfolio {
        width: 48%;
        display: inline-block;
    }

    #portfolio {
        margin-top: 90px;
    }

    .legendePortfolio {
        visibility: hidden;
    }

    /* On affiche la légende correspondant à l'image au survol de celle-ci*/
    .imagePortfolio:hover > .legendePortfolio {
        visibility: visible;
    }

    /* Affichage des légendes de toutes les images quand on click sur "All Works" */
    #ancreAllWorks:target ~ #imagesPortfolio > * .legendePortfolio {
        visibility: visible;
    }

    /* Affiche de la flèche */
    #ancreAllWorks:target ~ #tabPortfolio a + #flecheAll {
        visibility: visible;
    }

    /* Affichage du cadre autour de la tabulation  */
    #ancreAllWorks:target ~ #tabPortfolio > ul > li > #tab1 {
        background-color: #25adb6;
        color: white;
    }

    /* Affichage après click sur "Creative" */

    /* On affiche les légendes de la classe "creative" */
    #ancreCreative:target ~ #imagesPortfolio > * .creative{
        visibility: visible;
    }

    /* On affiche la flêche sous la tabulation "créative" */
    #ancreCreative:target ~ #tabPortfolio a + #flecheCreative {
        visibility: visible;
    }

    /* On colore la tabulation "créative" */
    #ancreCreative:target ~ #tabPortfolio > ul > li > #tab2 {
        background-color: #25adb6;
        color: white;
    }

    /* Affichage après click sur "Corporate" */

    /* On affiche les légendes de la classe "corporate" */
    #ancreCorporate:target ~#imagesPortfolio > * .corporate {
        visibility: visible;
    }

    /* On affiche la flêche sous la tabulation "corporate" */
    #ancreCorporate:target ~ #tabPortfolio a + #flecheCorporate {
        visibility: visible;
    }

    /* On colore la tabulation "corporate" */
    #ancreCorporate:target ~ #tabPortfolio > ul > li > #tab3 {
        background-color: #25adb6;
        color: white;
    }

    #contact {
        margin-top: 50px;
        height: 500px;
    }

    /* On affiche la carte iframe*/
    #carte iframe{
        height: 450px;
        visibility: visible;
    }

    /* On repositionne le formulaire */

    #contact {
        position: relative;
    }

    #formulaireContact {
        position: absolute;
        top: 0;
        left: 60%;
        width: 30%;
        height: 80%;
    }

    /* On force l'affichage du formulaire ligne par ligne */
    #contact form > input{
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

/* ------------ Gestion affichage Laptop ------------ */

@media screen and (min-width: 1024px){

/* Pour le menu */

    /* On affiche logo et menu sur une seule ligne */
    header {
        height: 100px;
        width: 95%;
        margin: auto;
        right: 0;
        display: flex;
        justify-content: space-between;
    }

    #logo {
        width: 100%;
        height: 75px;
        text-align: left; /* on aligne le logo à gauche */
    }

    #logoImage {
        margin-top: 20px;
        margin-left: 15px;
    }

    nav {
        width: 100%;
        height: 75px;
    }

    nav ul {
        height: 75px;
        margin: 0;
        display: flex; /* on dispose les éléments du menu en ligne */
    }

    nav li {
        height: 17px;
        margin-right: 20px;
        margin-top: 50px;
    }

/* Pour la section "Accueil" */


    /* On ré-ajuste taille et position du texte */
    #texteAccueil {
        width: 90%;
        transform: scale(0.90) translateY(-180%) translateX(5%);
        -webkit-transform: scale(0.90) translateY(-180%) translateX(5%);
        -moz-transform: scale(0.90) translateY(-180%) translateX(5%);
        -o-transform: scale(0.90) translateY(-180%) translateX(5%);
        -ms-transform: scale(0.90) translateY(-180%) translateX(5%);
    }

    /* On repositionne la flèche de droite */
    .slideshowGallery .prevNext{
        position: absolute;
        width:    103%;
    }

/* Pour le section "Services" */

    /* On dispose l'image et le détail en ligne */
    #contenuServices {
        display: flex;
    }

    #detailServices h1 {
        text-align: left;
    }

    /* On positionne les icônes à mi-hauteur du descriptif correspondant */
    #imageServices img{
        position: relative;
        top: 25%;
    }

    #service1, #service2, #service3 {
        display: flex;
    }

    #portfolio {
        margin-top: 30px;
    }

    #detailServices p {
        text-align: justify;
    }

/* Pour la section "Portfolio" */

    #contact {
        margin-top: 95px;
    }

    #imagesPortfolio {
        text-align: center;
    }

    /* On dispose les images => 4 par ligne */
    .imagePortfolio {
        width: 24%;
        display: inline-block;
    }

    #contact {
        position: relative;
    }


    #formulaireContact {
        position: absolute;
        top: 0;
        left: 60%;
        width: 25%;
        height: 85%;
    }
}

/* ------------ Gestion affichage Laptop Large ------------ */

@media screen and (min-width: 1440px){

    /* On ré-ajuste taille et position du texte */
    #texteAccueil {
        width: 90%;
        transform: translateY(-200%) translateX(10%);
        -webkit-transform: translateY(-200%) translateX(10%);
        -moz-transform: translateY(-200%) translateX(10%);
        -o-transform: translateY(-200%) translateX(10%);
        -ms-transform: translateY(-200%) translateX(10%);
    }

    /*Ecartement des flêches */
    .slideshowGallery .prevNext{
        position: absolute;
        width:    102%;
    }

    #contenuServices {
        display: flex;
    }

    /* On réajuste les images des "Services" */
    #imageServices img {
        transform: scale(0.8);
        position: relative;
        top: 5%;
    }

    #detailServices {
        margin-top: auto;
        margin-bottom: auto;
    }

    #service1, #service2, #service3 {
        display: flex;
    }

    .serv h1 {
        text-align: left;
    }

    #detailServices p {
        text-align: justify;
    }

    #imagesPortfolio {
        text-align: center;
    }

    #contact {
        position: relative;
    }

    #carte {
        position: relative;
        width: 100%;
        height: auto;
    }

    #formulaireContact {
        position: absolute;
        top: 0;
        left: 60%;
        width: 20%;
        height: 85%;
    }
}

